body {
        background: url("../img/bg.png");
        font-family: 'Allerta', sans-serif;
}

h1, h3 {
        color: #CBD5BD;
        text-transform: uppercase;
        border-bottom: 10px solid black;
}

h3 {
        padding: 0 0 10px 0;
}

img {
   box-shadow: 0 0 20px #666;
}
#scale {
	title: Playing Range;
	}

.container_12 {
        background: rgba(255,255,255,.45);
}

li {
  background: gray;
  display: block;
  list-style: none;
  margin: 5px;
  padding: 10px;
  text-align: center;

li:hover {
  background: blue;
} 

/* Helper Classes */
.showgrid {
        background: url("../img/12_col.gif") !important;
}
